@font-face {
    font-family: 'MrRobot';
    src : url('MrRobot.eot') format('eot'),
          url('MrRobot.woff') format('woff'),
          url('MrRobot.ttf') format('ttf'),
          url('MrRobot.svg') format('svg');
}
@font-face {
    font-family: 'PressStart';
    src : url('PressStart.eot') format('eot'),
          url('PressStart.woff') format('woff'),
          url('PressStart.ttf') format('ttf'),
          url('PressStart.svg') format('svg');
}
@font-face {
    font-family: 'P22 Pop Art Comic Bold Italic';
    src : url('P22 Pop Art Comic Bold Italic.eot') format('eot'),
          url('P22 Pop Art Comic Bold Italic.woff') format('woff'),
          url('P22 Pop Art Comic Bold Italic.ttf') format('ttf'),
          url('P22 Pop Art Comic Bold Italic.svg') format('svg');
}




body {
	margin: 0;
	padding: 0;	
	font-family: Helvetica, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
header {	
	display: flex;
	flex-direction: column;	
	background: linear-gradient(180deg, transparent 15%, white 100%),
    url("img/cover2.jpg");	
    background-size: cover; 
}
#logo {	
	
	display: flex;		
	margin: auto;
}
#back {
	width: 71%;
	margin: auto;	
	display: flex;
	margin-top: 133px; 
	/*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);*/
}

/*-----------------------------NAVBAR---------------------------------*/

nav, #navleft, .navcenter, #navright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav {
  margin-top: 45px;
  margin-bottom: 50px;  
}
nav i {
  color: white;
  font-size: 60px;
  margin: auto;
  margin: 10px;
}

#navleft, #navright {
  width: auto;
  height: 100px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-image: url("img/nav1.jpg");
  background-size: contain;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .3);
}

.circles {
    border-radius: 50%;
    width: 60px;
    height: 60px;  
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0 10px;
}

.circles i {
  font-size: 1.2em;
  text-align: center;
  margin: 5px 10px 0 10px;
  
}
.circles span {
  position: absolute;
  top: 1px;
  left: 14px;
  font-size: 3.1em;
  color: white;
  font-weight: bolder;
}
#position1 {
  left: 10px;
}
#position4 {
  left: 10px;
}
#position5 {
  left: 12px;
}
#position6 {
  left: 10px;
}
#position7 {
  left: 12px;
}
#position8 {
  left: 12px;
}
#spanwho span {
  top: -5px;
  left: 10px;
  font-size: 2.85em;
  margin-top: 2px;  

}
.circles:hover, .circles:focus {
  transform: scale(1.2);
}

a strong {
  position: absolute;
  margin-top: 70px;
    margin-left: -60px;
     color: white;
     background: #100c0c;
     padding: 5px;
     text-align: center;
     width: 145px;
     font-size: 1.1em;
     background-image: url("img/nav1.jpg");
     background-size: cover;
    /* transform: scale(0) rotate(60deg);*/
     transition: all .5s;
     opacity:0;
     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .5);
     transform: translate(5%, -10px);
}

a:hover strong, a:focus strong {
  transform: translate(5%, 0px);
   opacity:1;  
}

.circles:nth-child(1) {
  background-color: #fcfc04;
}
.circles:nth-child(2) {
  background-color: #bc040c;
}
.circles:nth-child(3) {
  background-color: #b4b4b4;
}
.circles:nth-child(4) {
  background-color: #fcf404;
}
.circles:nth-child(5) {
  background-color: #046cc4;
}
.circles:nth-child(6) {
  background-color: #9c3c94;
}
.circles:nth-child(7) {
  background-color: #049c54;
}
#spanwho {
background-color: #0039A6;
  border-radius: 10%;
  border: 2px solid white;
}
.navcenter {
  width: auto;
  margin: auto;
  justify-content: space-around;
  margin-top: 58px;
  background: #100c0c;
}
  
.navcenter a {
  font-size: 40px;
  background: #bc040c;
  color: white;
  font-weight: bolder;
  margin: auto;
  height: 70px;
  display: flex;
  
}
.navcenter span {
  padding: 5px;
  margin: auto;
  
}
.fa-arrow-up {
  margin: 0;
  padding: 5px;
}
#rotate {
  transform: rotate(315deg)
}

/*-----------------------------DEFILEMENT---------------------------------*/

h1 {
  margin: auto; 
  padding: 12px;
  color: #fcfc04;
  font-family: 'Press Start 2P', cursive;
    opacity: 0.85;
    font-size: 26px;
    vertical-align: middle;
    text-shadow: 0px 0px 15px #fcfc04;
}
.defilement {
  display: flex; 
  flex-direction: row;
  position: sticky;

}
.defilement i {
  margin-top: 50px;
  font-size: 6em;
  margin-left: -2px;
  margin-right: -2px;
  text-shadow: 1px 10px 4px rgba(0, 0, 0, .5);

}
/* le block conteneur */
.marquee {
  width: 40%;      /* largeur de la fenêtre */ 
  margin-top: 60px;
  height: 52px;  
  overflow: hidden;  /* masque tout ce qui dépasse */
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .5), inset 0 0 1em .25em black;
  background-image: url("img/board1.jpg");
  background-size: cover;
  border: 15px solid #100c0c;
}
/* le bloc défilant Le bloc défilant doit être un modèle de boîte en ligne n'autorisant 
pas le renvoi à la ligne et être placé à droite du conteneur.
L'animation proprement dite est définie en utilisant la propriété animation.*/
.marquee > :first-child {
  display: inline-block;             /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement 12s infinite linear;
  animation-timing-function: cubic-bezier(0.25, 0.5, 0.8, 0.5);
}
@keyframes defilement {
  0% {
    transform: translate3d(20px,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}





/*-------------------------------------SECTION SITE-----------------------------------*/
main {  
  background: url("img/subsubblue.png");
    background-size: contain;
    background-repeat: repeat;      
}
#sectionwhat {	
	display: flex;
	flex-direction: column;
  margin-top: 50px;
  text-shadow: -0.5px 0 0.5px white, 0 0.5px 0.5px white, 0.5px 0 0.5px white, 0 -0.5px 10px white;
}
#nouveausite {
  width: 90%;
  text-align: center;
  color: #100c0c;  
  font-size: 1.2em;
  margin-top: 0;
  margin: auto;
}
#nouveausite p span {
  font-size: 1.5em;
  
}
.choix {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  background: #100c0c;
  opacity: 0.9;
  padding-top: 50px;
   box-shadow: inset 0px 0px 0px 6px white;
   border: 6px solid black;
   border-radius: 30px;
 
}
.listechoix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
   margin: auto;
   margin-top: 25px;
   margin-bottom: 50px;
}
.titrechoix {
  text-align: center;
}

.titrechoix h4 {
  font-size: 2em; 
  color: #100c0c;
   width: 90%;
   height: auto;
   margin: auto;   
   background-color: #2cbcc4/*#fcfc04*/;
   border-radius: 30px 30px 0 0;
   box-shadow: 0px -10px 5px 2px black;
   align-content: center;
   padding: 12px 0 12px 0;
}

.detailchoix {
  display: flex;
  flex-direction: column;
   font-size: 1.25em;
   margin: 25px;
   border-radius: 30px;
    background: #100c0c;
    color: white;
    width: 150px;
    height: 150px;
    text-align: center;
   vertical-align: middle;
   box-shadow: inset 0px 0px 0px 6px white;
   border: 6px solid #2cbcc4;
}

.detailchoix i {
   padding: 15px 10px 0 10px;    
    font-size: 2.8em;

}
.detailchoix:hover, .detailchoix:active {
  transform: scale(1.05);
  border-color: white;
  box-shadow: 0px 0px 20px #2cbcc4;
  text-shadow: -1px 0 2.5px #2cbcc4, 0 1px 2.5px #2cbcc4, 1px 0 2.5px #2cbcc4, 0 -1px 2.5px #2cbcc4;
}

.detailchoix p {
    display: flex;
   vertical-align: middle;
    text-align: center;
    font-size: 0.9em;
    padding: 0px 10px 0 10px; 
    margin: auto;

    

}

/*-------------------------------------SECTION TODO LIST-----------------------------------*/


#todolist, #refonte {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  overflow-x:hidden;
  margin-top: 50px;
}
.todocontainer p {
	font-size: 1.25em;
	color: #100c0c;
  margin: 0;
}
.todocontainer ul li div p:nth-child(1) {
  font-size: 2.5em;
  padding-top: 10px;
   text-shadow: -0.5px 0 0.5px white, 0 0.5px 0.5px white, 0.5px 0 0.5px white, 0 -0.5px 10px white;
}
.todocontainer ul li{
  list-style-type:none;
  position: relative;
  width: 8px;
  margin: auto;
  padding-top: 50px;
  background: #2cbcc4;
  opacity: 0.9;
  border-radius: 30px;
  
}
.todocontainer ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: inherit;
  background: #2cbcc4;
  transition: background .5s ease-in-out;
 }
 .todocontainer ul li div p:nth-child(2) {
  padding-bottom: 10px;
}
.todocontainer ul li div{
  position: relative;
  bottom: 0;
  width: 350px;
  padding: 0 15px 0 15px;  
  background: #2cbcc4;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-in-out;
 border-radius: 30px;
 box-shadow: inset 0px 0px 0px 6px white;
  border: 6px solid #100c0c;

}
.todocontainer ul li div::before {
  content: '';
  position: absolute;
  bottom: 14px;
  width: 0;
  height: 0;
  border-style: solid;
}

.todocontainer ul li:nth-child(odd) div {
  left: 45px;
  transform: translate3d(200px,0,0);
}
.todocontainer ul li:nth-child(odd) div::before {
  left: -32px;
  border-width: 15px 30px 15px 0;
  border-color: transparent #100c0c transparent transparent;

}

.todocontainer ul li:nth-child(even) div {
  left: -480px;
  transform: translate3d(-200px,0,0);
}
 
.todocontainer ul li:nth-child(even) div::before {
  right: -32px;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #100c0c;
}

.todocontainer ul li.in-view::after {
  background: #100c0c;
}

.todocontainer ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
/*-------------------------------------SECTION REFONTE-----------------------------------*/
#refonte .todocontainer p {
	color: white;
  text-shadow: -0.5px 0 0.5px white, 0 0.5px 0.5px white, 0.5px 0 0.5px white, 0 -0.5px 10px white;
}
#refonte .todocontainer ul li{
  background: #100c0c;
}
#refonte .todocontainer ul li::after {
  background: #100c0c;
 }
#refonte .todocontainer ul li div{
  background: #100c0c;
 box-shadow: inset 0px 0px 0px 6px white;
  border: 6px solid #2cbcc4;
}
#refonte .todocontainer ul li:nth-child(odd) div::before {
  border-color: transparent #2cbcc4 transparent transparent;
}
#refonte .todocontainer ul li:nth-child(even) div::before {
  border-color: transparent transparent transparent #2cbcc4;
}
#refonte .todocontainer ul li.in-view::after {
  background: #2cbcc4;
}
 
/*-------------------------------------SECTION REFERENCEMENT-----------------------------------*/
#referencement {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 150px;
  margin-top: 50px;
}

.menu-seo {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  text-align: center;
  background: white;
  border-radius: 50%;
  color: #100c0c;
  cursor: pointer;
  opacity: 1.0;
  border-top: 20px solid #4285F4;
  border-right: 20px solid #EA4335; 
  border-bottom: 20px solid #FBBC05; 
  border-left: 20px solid #34A853;
  display: flex;
}
.menu-seo i {
  color: #100c0c;
  font-size: 1.5em;
}
.menu-seo:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4), 0 3px 15px 0 rgba(0, 0, 0, 0.25);
 }
.menu-seo a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: normal;
  border-radius: 50%;
  color: #100c0c;
  font-size: 1em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;


 
}
.menu-seo a:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);

}
.menu-seo p {
  color: #100c0c;
  width: 150px;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 15px;
}
.menu-seo p:nth-child(1) {
  font-size: 3em;
}
.menu-seo a:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #4285F4;
}
.menu-seo a:nth-child(3) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #EA4335;
}
.menu-seo a:nth-child(4) {
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  transition-delay: 0.7s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #100c0c;
}
.menu-seo a:nth-child(5) {
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  transition-delay: 0.9s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #FBBC05;
}
.menu-seo a:nth-child(6) {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #34A853;
}
.menu-seo:hover a {
  opacity: 1;
  width: 30px;
  height: 30px;

}
.menu-seo:hover a:nth-child(2) {
  right: 500px;
  bottom: 150px;
}
.menu-seo:hover a:nth-child(2):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;

}
.menu-seo:hover a:nth-child(3) {
  right: 350px;
  bottom: 0px;
}
.menu-seo:hover a:nth-child(3):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
 
}
.menu-seo:hover a:nth-child(4) {
  right: 125px;
  bottom: -100px;
}
.menu-seo:hover a:nth-child(4):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
.menu-seo:hover a:nth-child(5) {
  right: -100px;
  bottom: -0px;
}
.menu-seo:hover a:nth-child(5):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
.menu-seo:hover a:nth-child(6) {
  right: -300px;
  bottom: 150px;
}
.menu-seo:hover a:nth-child(6):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}


/*-------------------------------------SECTION SECURITE-----------------------------------*/
canvas {
  overflow: hidden;
  opacity: 0.8;
  width: 100%;
  border-radius: 30px;
  border: 6px solid #100c0c;
  box-shadow: inset 0px 0px 0px 6px white;
  padding: 12px;
  height: 750px;

}
#securisation {
  width: 80%;
 margin: auto;
  text-align: center;
  font-size: 1.2em;
  margin-top: 50px;
  position: relative;
  margin-bottom: 100px;
   text-shadow: -0.5px 0 0.5px white, 0 0.5px 0.5px white, 0.5px 0 0.5px white, 0 -0.5px 10px white;
}
#divsecu {
  position: absolute;
  bottom: 100px;
  color: white;
  margin: auto;
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#divsecu1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
#divsecu1 h3 {
  margin: 0;
  align-items: center;
}

#divsecu2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}
.toposecu {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}
.toposecu p{
  text-align: justify;
}
#securisation i {
  color: red;
  margin-right: 10px;
  font-size: 1.5em;
}
.imgsecu {
  width: 45%;
  padding: 0;
  margin: auto;
}
#engagement {
  font-size: 1.5em;
}


/*-------------------------------------SECTION COMPARAISON-----------------------------------*/
#comparaison {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  margin-top: 50px;
}
#comparaison p span {
  font-size: 1.5em;
  
}

#comparaison strong {
  font-family: 'MrRobot', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #bc040c;
}
.fa-times {
  color: red;
}
.fa-exclamation {
  color: orange;
}
.fa-check {
  color: green;
}
.fa-hand-point-right {
  font-size: 2em;
  margin-right: 10px;
  color: green;
}
#imgouix {
  background-size: cover;
  background-image: url("img/ouix1.jpg");
  margin: auto;
  border-radius: 30px;
}
#imgouix:hover {
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  background-image: url("img/ouix2.jpg");
  background-size: cover;
}
#imghello {
  background-size: cover;
   background-image: url("img/ouixalt2.jpg");
   margin: auto;
   
   border-radius: 30px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead tr th:nth-child(1) {
  height: 360px;
}


thead th:nth-child(1) {
  width: 37.5%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 37.5%;
}
th, td {
  padding: 10px;
   box-shadow: inset 0px 0px 0px 5px #100c0c;


   
   border-radius: 30px;
}
th:nth-child(odd) {
  color: #100c0c;

}
th:nth-child(even) {
  color: #100c0c;
 
}
tbody tr:nth-child(odd):hover {
  background-color: #b4b4b4;
  transform: scale(1.02);
  transition: left 0.1s, transform 0.1s;
  white-space: nowrap;
  text-shadow: -0.5px 0 0.5px white, 0 0.5px 0.5px white, 0.5px 0 0.5px white, 0 -0.5px 10px white;
}
tbody tr:nth-child(even):hover {
  background-color: #2cbcc4;
  transform: scale(1.02);
  transition: left 0.1s, transform 0.1s;
  white-space: nowrap;
  text-shadow: -0.5px 0 0.5px white, 0 0.5px 0.5px white, 0.5px 0 0.5px white, 0 -0.5px 10px white;
}
tbody td i {
  font-size: 1.25em;
}
.fa-asterisk {
  color: black;
  font-size: 0.75em;
}

/*-------------------------------NAV FOOTER-------------------------*/
.to-top {
  position: fixed;
  bottom: 50px;
  right: 10px;
  font-size: 50px;
  color: #100c0c;  
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top.active {
  bottom: 50px;
  pointer-events: auto;
  opacity: 0.8;
}


/*-------------------------------FOOTER-------------------------*/
footer {
  position: relative;

}
#divcontact {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-image: url("img/backfooter.jpg");
  background-size: contain;
   border-top: 3px solid black; 
}
#adresse, #horaires {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  width: 35%;

  
}
#horaires p:nth-child(2), #adresse p:nth-child(2) {
  background-image: url("img/board1.jpg");
  background-size: cover;
  border: 5px solid #100c0c;
  padding: 3px;
  color: #fcfc04;
  font-family: 'Press Start 2P', cursive;
  width: 250px;
  text-align: center;
  font-size: 0.8em;
line-height: 125%;
    
}



#horaires p:nth-child(1), #horaires p:nth-child(3), #adresse p:nth-child(1), #adresse p:nth-child(3) {
  font-size: 2em;

}
#horaires p, #adresse p {
  margin: 0;
  font-size: 0.75em;
  max-height: 50px;
}
#horaires span, #adresse span {
    animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;
      
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    text-shadow: 0px 0px 15px #fcfc04;
    opacity: 0.8;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    opacity: 0.95;
  }
}


/*-----------------------------DEFILEMENT FOOTER---------------------------------*/

#defilfooter h1 {
  margin: auto; 
  padding: 12px;
  color: #fcfc04;
  font-family: 'Press Start 2P', cursive;
    opacity: 0.75;
    font-size: 20px;
    vertical-align: middle;
    text-shadow: 0px 0px 15px #fcfc04;
    text-transform: uppercase;
}
#defilfooter {
  width: 25%;
  margin: auto;
  height: 40px;
  overflow: hidden;  /* masque tout ce qui dépasse */
  box-shadow: /*5px 5px 2px 1px rgba(0, 0, 0, .5),*/ inset 0 0 1em .25em black;
  background-image: url("img/board1.jpg");
  background-size: cover;
  border: 10px solid #100c0c;
}
/* le bloc défilant Le bloc défilant doit être un modèle de boîte en ligne n'autorisant 
pas le renvoi à la ligne et être placé à droite du conteneur.
L'animation proprement dite est définie en utilisant la propriété animation.*/
#defilfooter > :first-child {
  display: inline-block;             /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defil 7s infinite linear;
  animation-timing-function: cubic-bezier(0.15, 0.4, 0.5, 0.25);

}
@keyframes defil {
  0% {
    transform: translate3d(20px,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

/*-----------------------------FOOTER FIGURE---------------------------------*/
#divfooter {
  position: absolute;
  width: 100%;
  top: 160px; 
  font-size: 4.5em;
  display: flex;
  justify-content: space-between;
}
#divfooterleft, #divfooterright {
  display: flex;
  justify-content: space-between; 
  width: 23%;
}
#divfooterleft {
  margin-left: 8.2%;
  
}
#divfooterright {
  margin-right: 8.3%;
}
#divfooter i {
  
    padding:0 1px 0 2px; 
    text-shadow: -2.5px 0 #000, 0 2.5px #000, 2.5px 0 #000, 0 -2.5px #000; 
    /*text-shadow: 5px 1px 10px rgba(0, 0, 0, .8);
     /*animation: jump 2s infinite linear; */   
    }
    @keyframes jump {
      0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transform: translateX(0);}
      25%  { 
        transform: translateY(-2px);}
        50% { 
          transform: translateX(2px);}
        75% {
          transform: translateY(-2px);}
        
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
        transform: translateX(5px);}        
  }

#github {
  color: black;
}
#linkedin {
  color: #0e76a8;
}
#twitter {
  color: #1DA1F2;
}
#slack {
  color: #3F0F3F;
}




footer figure { 
  position: relative; 
  width: 100%;
  margin: 0;  
   border-top: 3px solid black;
}

footer figure img {  
  margin: 0;
  width: 100%;
  padding: 0px 0 0 0; 
  position: absolute;
  overflow: hidden;
    background: url("img/seatsbackokok.jpg");
    background-size: cover;
    animation: compta_animation 20s linear infinite;
}

@keyframes compta_animation {
  0%  {background-position: -2122px 0;} 
  100%  {background-position: 0 0;}
  
}