@font-face {
    font-family: 'MrRobot';
    src : url('MrRobot.eot') format('eot'),
          url('MrRobot.woff') format('woff'),
          url('MrRobot.ttf') format('ttf'),
          url('MrRobot.svg') format('svg');
}
@font-face {
    font-family: 'PressStart';
    src : url('PressStart.eot') format('eot'),
          url('PressStart.woff') format('woff'),
          url('PressStart.ttf') format('ttf'),
          url('PressStart.svg') format('svg');
}
@font-face {
    font-family: 'P22 Pop Art Comic Bold Italic';
    src : url('P22 Pop Art Comic Bold Italic.eot') format('eot'),
          url('P22 Pop Art Comic Bold Italic.woff') format('woff'),
          url('P22 Pop Art Comic Bold Italic.ttf') format('ttf'),
          url('P22 Pop Art Comic Bold Italic.svg') format('svg');
}




body {
	margin: 0;
	padding: 0;	
	font-family: Helvetica, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
header {	
	display: flex;
	flex-direction: column;	
	background: linear-gradient(180deg, transparent 15%, white 100%),
    url("img/cover2.jpg");	
    background-size: cover; 
}
#logo {	
	
	display: flex;		
	margin: auto;
}
#back {
	width: 71%;
	margin: auto;	
	display: flex;
	margin-top: 133px; 
	/*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);*/
}

/*-----------------------------NAVBAR---------------------------------*/

nav, #navleft, #navcenter, #navright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav {
  margin-top: 45px;
  margin-bottom: 50px;  
}
nav i {
  color: white;
  font-size: 60px;
  margin: auto;
}
#navcenter span {
  font-size: 50px;
  background: #bc040c;
  color: white;
  margin-bottom: 0;
  font-weight: bolder;
  margin-left: 2px;
}
#navleft, #navright {
  width: 470px;
  height: 90px;
  margin: auto;
  justify-content: space-around;
  align-items: center;  
}
#navcenter {
  width: 166px;
  margin: auto;
  justify-content: space-around;
  margin-top: 58px;
  background: #100c0c;
}
#navleft, #navright { 
  background: #100c0c;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .3);
}
.circles {
  background: #bfd70e;
    border-radius: 50%;
    width: 62px;
    height: 62px;  
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.circles i {
  font-size: 1.2em;
  text-align: center;
  padding-left: 7px;
}
.circles span {
  position: absolute;
  top: 4px;
  left: 12px;
  font-size: 44px;
  color: white;
  font-weight: bolder;
}
#navright .circles span {
  position: absolute;
  top: 4px;
  left: 15px;
  font-size: 44px;
  color: white;
  font-weight: bolder;

}
.circles:nth-child(1) {
  background-color: #9c3c94;
}
.circles:nth-child(2) {
  background-color: #f48424;
}
.circles:nth-child(3) {
  background-color: #bc040c;
}
.circles:nth-child(4) {
  background-color: #046cc4;
}
.circles:nth-child(5) {
  background-color: #fcd41c;
}
.circles:nth-child(6) {
  background-color: #049c54;
}
#spanwho {
background-color: #0a0b89;
  border-radius: 10%;
  border: 2px solid white;
}

/*-----------------------------DEFILEMENT---------------------------------*/

h1 {
  margin: auto; 
  padding: 12px;
  color: #fcfc04;
  font-family: 'Press Start 2P', cursive;
    opacity: 0.75;
    font-size: 26px;
    vertical-align: middle;
    text-shadow: 0px 0px 15px #fcfc04;
}
.defilement {
  display: flex; 
  flex-direction: row;
  position: sticky;

}
.defilement i {
  margin-top: 50px;
  font-size: 6em;
  margin-left: -2px;
  margin-right: -2px;
  text-shadow: 1px 10px 4px rgba(0, 0, 0, .5);

}
/* le block conteneur */
.marquee {
  width: 40%;      /* largeur de la fenêtre */ 
  margin-top: 60px;
  height: 52px;  
  overflow: hidden;  /* masque tout ce qui dépasse */
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .5), inset 0 0 1em .25em black;
  background-image: url("img/board1.jpg");
  background-size: cover;
  border: 15px solid #100c0c;
}
/* le bloc défilant Le bloc défilant doit être un modèle de boîte en ligne n'autorisant 
pas le renvoi à la ligne et être placé à droite du conteneur.
L'animation proprement dite est définie en utilisant la propriété animation.*/
.marquee > :first-child {
  display: inline-block;             /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement 12s infinite linear;
  animation-timing-function: cubic-bezier(0.25, 0.5, 0.8, 0.5);
}
@keyframes defilement {
  0% {
    transform: translate3d(20px,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}





/*-------------------------------------SECTION SITE-----------------------------------*/

#sectionwhat {	
	display: flex;
	flex-direction: column;
}
#nouveausite {
  width: 90%;
  text-align: center;
  color: #100c0c;
  background: white/*#d4d4d4*/;
  opacity: 0.8;
  font-size: 1.2em;
  margin-top: 0;
  margin: auto;
}
#nouveausite p span {
  font-size: 1.5em;
  
}
.choix {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  background: #100c0c;
 
}
.listechoix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
   margin: auto;
}
.titrechoix {
  text-align: center;
}

.titrechoix h4 {
  font-size: 2.2em; 
  color: #bc040c;
   font-family: 'MrRobot', 'Trebuchet MS', Arial, Helvetica, sans-serif;
   width: 80%;
   height: 80px;
   margin: auto;   
   background-color: #fcfc04;
   border-radius: 30px 30px 0 0;
   box-shadow: 0px -10px 5px 2px black;
   align-content: center;
}

.detailchoix {
  display: flex;
  flex-direction: column;
   font-size: 1.25em;
   margin: 25px;
   border-radius: 30px;
    background: #100c0c;
    color: white;
    width: 150px;
    height: 150px;
    text-align: center;
   vertical-align: middle;
   box-shadow: inset 0px 0px 0px 6px white;
   border: 6px solid #fcfc04;
}


.detailchoix:active {
	color: green;
	border: 6px solid red;
}
.detailchoix i {
   padding: 10px 10px 0 10px;    
    font-size: 2.8em;
}
.detailchoix p {
    display: flex;
   vertical-align: middle;
    text-align: center;
    font-size: 0.8em;
    padding: 0px 10px 0 10px; 
    margin: auto;

    

}

/*-------------------------------------SECTION TODO LIST-----------------------------------*/


#todolist, #refonte {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 1em; 
  margin-top: 25px;
}
#todocontainer, #refontecontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  font-size: 1.4em;
 
}
#todoleft, #refonteleft {
  text-align: right;
   width: 50%;
   border-right: 8px solid #f48424;
   position: relative; 
}
#todoleft i, #refonteleft i {
   position: absolute;
  right: -16px;
  box-shadow: inset 0px 0px 0px 20px white;
   border: 5px solid #fcfc04;
   border-radius: 100%
}
#todoleft p, #refonteleft p {
   margin-right: 25px;
}
#todoright p, #refonteright p {
   margin-left: 25px;
}
#todoright, #refonteright {
   width: 50%;
   margin-top: 35px;
    position: relative;  
}
#todoright i, #refonteright i {
   position: absolute;
  left: -15px;
}
#toporefonte, #topolist {
  margin: auto;
}
 
/*-------------------------------------SECTION REFERENCEMENT-----------------------------------*/
#referencement, #securisation {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
}
#referencement i {
  color: green;
  margin-right: 10px;
}
#securisation i {
  color: green;
  margin-right: 10px;
}
/*-------------------------------------SECTION SECURITE-----------------------------------*/
#secuimg img {
  width: 20%;
  margin-top: 0;
}
#secuimg {
  display: flex;
  flex-direction: row;
}

/*-------------------------------------SECTION COMPARAISON-----------------------------------*/
#comparaison {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
}
#comparaison article {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.comp {
  width: 40%;
  margin: auto;
  
}
.comp h3 {
  font-size: 2.2em;
  text-align: center;
  width: 100%;
}
.comp h3 strong, #comparaison strong {
  font-family: 'MrRobot', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #bc040c;
}
#comparaison span i {
  color: green;
  margin-right: 10px;
  font-size: 1.2em;
}
.fa-times {
  color: red;
}
.fa-exclamation {
  color: orange;
}
.fa-check {
  color: green;
}
#imgouix {
  width: 500px;
  height: 360px;  
  background-size: contain;
  background-image: url("img/ouix1.jpg");
  margin: auto;
  
}
#imgouix:hover {
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  background-image: url("img/ouix2.jpg");
  background-size: cover;
}
#imghello {
  width: 500px;
  height: 360px;  
  background-size: contain;
   background-image: url("img/ouixalt2.jpg");
}

/*-------------------------------------SECTION TARIFS-----------------------------------*/
#tarifs {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;  
  width: 80%;  
  text-align: center;
  font-size: 1.2em;
  
}


#euroscontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
#villes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#london, #newyork, #tokyo {
  width: 300px;
  height: 350px;
  color: #bc040c;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;


   
}
#newyork {
   background-image: url("img/subgrey.png");
   
}
#london {
   background-image: url("img/tube.jpg");
    
}
#tokyo {
   background-image: url("img/tokyo.jpg");
}
#villes p {  
  font-size: 1.3em;
  font-style: italic;
 border-radius: 9.375rem 9.375rem 9.375rem 9.375rem;
 
  vertical-align: middle;
  margin: auto;
  font-family: 'MrRobot', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  
}
#devtarif p span {
  font-size: 1.3em;
   color: #bc040c;
   font-family: 'MrRobot', 'Trebuchet MS', Arial, Helvetica, sans-serif;
   font-style: italic;
}
#maintarif strong {
  font-family: 'MrRobot', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #bc040c;
}









/*------------------------------FORMULAIRE--------------------------*/
.formulaire_commande, .recapitulatif {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
#commander {
  font-size: 2em;
}
.fas:hover {
  cursor: pointer;
}

label {
  display: block;
  width: 30%; 
  font-size: 1.2em;  
  text-align: center;  
}
input {
  width: 70%;
  height: 3em;
  box-sizing: border-box;  
  outline: none;
}
input:focus {
  border-color: #bc040c;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8)
}
.form-group {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
}
.cadre {
  margin: auto;
  width: 50%; 
}
#name, #email {
  width: 70%;
  margin: auto;
}
#panier-recap, #confirmation-recap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;  
  font-size: 1.5em;
  font-weight: bolder;   
}
.recapitulatif h2 {
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 25px; 
}/*--------formulaire-------*/
.formulaire_commande, .recapitulatif {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
#commander {
  font-size: 2em;
}
.fas:hover {
  cursor: pointer;
}

label {
  display: block;
  width: 30%; 
  font-size: 1.2em;  
  text-align: center;  
}
input {
  width: 70%;
  height: 3em;
  box-sizing: border-box;  
  outline: none;
}
input:focus {
  border-color: #bc040c;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8)
}
.form-group {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
}
.cadre {
  margin: auto;
  width: 50%; 
}
#name, #email {
  width: 70%;
  margin: auto;
}
#panier-recap, #confirmation-recap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;  
  font-size: 1.5em;
  font-weight: bolder;   
}
.recapitulatif h2 {
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 25px; 
}

/*-------------------------------NAV FOOTER-------------------------*/
#navfooter span {
  font-size: 50px;
  background: #bc040c;
  color: white;
  margin-bottom: 0;
  font-weight: bolder;
  margin-left: 2px;
}

#navfooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 180px;
  margin: auto;
  justify-content: space-around;
  
  background: #100c0c;
}
#navfooter i {
  color: white;
  font-size: 60px;
  margin: auto;
}

/*-------------------------------FOOTER-------------------------*/
footer {
  
}
#contact {
  
  
  background: red;
  font-size: 5em;
}
footer figure { 
  position: relative; 
  width: 100%;
  margin: 0; 
   border-top: 7px solid black; 
}

footer figure img {  
  margin: 0;
  width: 100%;
  padding: 0px 0 0 0; 
  position: absolute;
  overflow: hidden;
    background: url("img/seatsbackokok.jpg");
    background-size: cover;
    animation: compta_animation 25s linear infinite;
}

@keyframes compta_animation {
  
  0%  {background-position: 0 0;}
  100%  {background-position: -2122px 0;} 

}
