@font-face {
    font-family: 'MrRobot';
    src : url('MrRobot.eot') format('eot'),
          url('MrRobot.woff') format('woff'),
          url('MrRobot.ttf') format('ttf'),
          url('MrRobot.svg') format('svg');
}
@font-face {
    font-family: 'PressStart';
    src : url('PressStart.eot') format('eot'),
          url('PressStart.woff') format('woff'),
          url('PressStart.ttf') format('ttf'),
          url('PressStart.svg') format('svg');
}
@font-face {
    font-family: 'P22 Pop Art Comic Bold Italic';
    src : url('P22 Pop Art Comic Bold Italic.eot') format('eot'),
          url('P22 Pop Art Comic Bold Italic.woff') format('woff'),
          url('P22 Pop Art Comic Bold Italic.ttf') format('ttf'),
          url('P22 Pop Art Comic Bold Italic.svg') format('svg');
}




body {
	margin: 0;
	padding: 0;	
	font-family: Helvetica, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
header {	
	display: flex;
	flex-direction: column;	
	background: linear-gradient(180deg, transparent 15%, white 100%),
    url("img/cover2.jpg");	
    background-size: cover; 
}
#logo {	
	
	display: flex;		
	margin: auto;
}
#back {
	width: 71%;
	margin: auto;	
	display: flex;
	margin-top: 133px; 
	/*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);*/
}

/*-----------------------------NAVBAR---------------------------------*/

nav, #navleft, .navcenter, #navright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav {
  margin-top: 45px;
  margin-bottom: 50px;  
}
nav i {
  color: white;
  font-size: 60px;
  margin: auto;
  margin: 10px;
}

#navleft, #navright {
  width: auto;
  height: 100px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-image: url("img/nav1.jpg");
  background-size: contain;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .3);
}

.circles {
    border-radius: 50%;
    width: 60px;
    height: 60px;  
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0 10px;
}

.circles i {
  font-size: 1.2em;
  text-align: center;
  margin: 5px 10px 0 10px;
  
}
.circles span {
  position: absolute;
  top: 1px;
  left: 14px;
  font-size: 3.1em;
  color: white;
  font-weight: bolder;
}
#position1 {
  top: 0px;
  left: 10px;
}
#position4 {
  top: 0px;
  left: 11px;
}
#position5 {
  
  left: 10px;
}
#position6 {
  
  left: 8px;
}
#position7 {
  top: 0px;
  left: 13px;
}
#spanwho span {
  top: -5px;
  left: 10px;
  font-size: 2.85em;
  margin-top: 2px;  

}
.circles:hover, .circles:focus {
  transform: scale(1.2);
}

a strong {
  position: absolute;
  margin-top: 70px;
    margin-left: -60px;
     color: white;
     background: #100c0c;
     padding: 5px;
     text-align: center;
     width: 145px;
     font-size: 1.1em;
     background-image: url("img/nav1.jpg");
     background-size: cover;
    /* transform: scale(0) rotate(60deg);*/
     transition: all .5s;
     opacity:0;
     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .5);
     transform: translate(5%, -10px);
}

a:hover strong, a:focus strong {
  transform: translate(5%, 0px);
   opacity:1;  
}

.circles:nth-child(1) {
  background-color: #fcfc04;
}
.circles:nth-child(2) {
  background-color: #2cbcc4;
}
.circles:nth-child(3) {
  background-color: #b4b4b4;
}
.circles:nth-child(4) {
  background-color: #049c54;
}
.circles:nth-child(5) {
  background-color: #046cc4;
}
.circles:nth-child(6) {
  background-color: #d4d4d4;
}
#spanwho {
background-color: #0039A6;
  border-radius: 10%;
  border: 2px solid white;
}
.navcenter {
  width: auto;
  margin: auto;
  justify-content: space-around;
  margin-top: 58px;
  background: #100c0c;
}
  
.navcenter a {
  font-size: 40px;
  background: #bc040c;
  color: white;
  font-weight: bolder;
  margin: auto;
  height: 70px;
  display: flex;
  
}
.navcenter span {
  padding: 5px;
  margin: auto;
  
}
.fa-arrow-up {
  margin: 0;
  padding: 5px;
}
#rotate {
  transform: rotate(315deg)
}

/*-----------------------------DEFILEMENT---------------------------------*/

h1 {
  margin: auto; 
  padding: 12px;
  color: #fcfc04;
  font-family: 'Press Start 2P', cursive;
    opacity: 0.85;
    font-size: 26px;
    vertical-align: middle;
    text-shadow: 0px 0px 15px #fcfc04;
}
.defilement {
  display: flex; 
  flex-direction: row;
  position: sticky;

}
.defilement i {
  margin-top: 50px;
  font-size: 6em;
  margin-left: -2px;
  margin-right: -2px;
  text-shadow: 1px 10px 4px rgba(0, 0, 0, .5);

}
/* le block conteneur */
.marquee {
  width: 40%;      /* largeur de la fenêtre */ 
  margin-top: 60px;
  height: 52px;  
  overflow: hidden;  /* masque tout ce qui dépasse */
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .5), inset 0 0 1em .25em black;
  background-image: url("img/board1.jpg");
  background-size: cover;
  border: 15px solid #100c0c;
}
/* le bloc défilant Le bloc défilant doit être un modèle de boîte en ligne n'autorisant 
pas le renvoi à la ligne et être placé à droite du conteneur.
L'animation proprement dite est définie en utilisant la propriété animation.*/
.marquee > :first-child {
  display: inline-block;             /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement 12s infinite linear;
  animation-timing-function: cubic-bezier(0.25, 0.5, 0.8, 0.5);
}
@keyframes defilement {
  0% {
    transform: translate3d(20px,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}



main {  
  background: url("img/subgrey.png");
    background-size: contain;
    background-repeat: repeat;  
}

/*-------------------------------------SECTION FULL STACK-----------------------------------*/


#fullstack {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  margin-top: 50px;
}
#technologies span {
  font-size: 1.5em;
  
}
#technologies p i {
  color: #bc040c;
  margin-right: 10px;
}

.unbreakable-container {
   opacity: 0.9;
}
.unbreakable
{
   line-height: 1;
    letter-spacing: -.07em;
    color: black;
    font-weight: bolder;
}
.ks
{
    font-size: 2.25em;
    line-height: 1;
    margin-top: -11px;
    -webkit-transition: all .8s ease-in-out;
            transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000) 8s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #bc040c;

}

.animate .ks
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.unbreakable span
{
    font-size: 2em;
    text-transform: uppercase;
    opacity: 0;
    color: black;
    filter: alpha(opacity=0);
}

.able
{
    -webkit-transition: all 3s cubic-bezier(.190, 1.000, .220, 1.000) 6s;
            transition: all 3s cubic-bezier(.190, 1.000, .220, 1.000) 6s;
    letter-spacing: -.07em;
}

.break
{
    -webkit-transition: all .8s ease-in-out 4s;
            transition: all .8s ease-in-out 4s;
    letter-spacing: -.07em;
}

.un
{
    -webkit-transition: all .5s ease-in-out 2.5s;
            transition: all .5s ease-in-out 2.5s;
    letter-spacing: -.07em;
}

.animate .un
{
    font-size: 2em;
    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);
    opacity: 1;
    
}

.animate .break
{
    font-size: 2.75em;
    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);
    opacity: 1;
    
}

.animate .able
{
    font-size: 3.25em;
    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);
    opacity: 1;
    
}


/*-------------------------------------SECTION TECHNOLIST-----------------------------------*/
#technolist {
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  font-size: 1em; 
  text-align: center;
   font-size: 1.2em;
   margin-top: 50px;
}
#topotechno {
  width: 40%;
}


.carousel {
  width: 80%;
  height: 475px;
  position: relative;
  box-sizing: border-box;
  border-radius: 30px;
  background: #bc040c;
  box-shadow: inset 0px 0px 0px 6px white;
   border: 6px solid #100c0c;
    opacity: 0.9;
    margin: auto;

}

.carousel-item {
  display: none;
  box-sizing: border-box;
}
/*.carousel-item:nth-child(1) {
  color: #f06529;
}
.carousel-item:nth-child(2) {
  color: #2965f1;
}
.carousel-item:nth-child(3) {
  color: #F0DB4F;
}
.carousel-item:nth-child(4) {
  color: #41B883;
}
.carousel-item:nth-child(5) {
  color: #00749C;
}
.carousel-item:nth-child(6) {
  color: #602C50;
}
.carousel-item:nth-child(7) {
  color: #cd6799;
}*/
.carousel-item:nth-child(8) {
  color: #4285F4;
   font-size: 0.95em;
   margin-top: 8px;
}
.carousel-item:nth-child(9) {
  color: #3C873A;
}
.carousel-item:nth-child(10) {
  color: #F29111;
   font-size: 0.9em;
   margin-top: 10px;
}
.carousel-item:nth-child(11) {
  color: #CC3534;

}
.carousel-item:nth-child(12) {
  color: #F1502F;
}
.carousel-item:nth-child(13) {
  color: white;
}
.carousel-item i {
  max-width: 800px;
  height: auto;
  box-sizing: border-box;
  font-size: 17em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
  text-shadow: -3px 0 6px white, 0 3px 6px white, 3px 0 6px white, 0 -3px 40px white;
  color: white;
}


.carousel-item-visible {
  display: block;
  animation: fadedVisibility 0.5s;
  box-sizing: border-box;
}

.carousel-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  box-sizing: border-box;
}

.carousel-actions button {
  font-size: 50px;
   background: #bc040c;
    opacity: 0.9;
  color: white;
  transition: all 0.5s;
  border: none;
  text-shadow: -5px 0 8px white, 0 5px 8px white, 3px 0 5px white, 0 -5px 20px white;
}

.carousel-actions button:hover {
  color: #100c0c;
}

.carousel-actions #carousel-slide-nav {
  align-self: flex-end;
  box-sizing: border-box;
  padding-bottom: 15px;
  opacity: 0.9;

}

.carousel-actions #carousel-slide-nav span {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: white;
  transition: all 0.5s;
  box-sizing: border-box;
 box-shadow: -3px 0 8px white, 0 3px 8px white, 3px 0 8px white, 0 -3px 5px white;
 color: white;

  

}

.carousel-actions #carousel-slide-nav span + span {
  margin-left: 15px;
  box-sizing: border-box;
}

.carousel-actions #carousel-slide-nav span.nav-current,
.carousel-actions #carousel-slide-nav span.nav-current:hover {
  /*background: #bc040c;*/
  box-sizing: border-box;
}

.carousel-actions #carousel-slide-nav span:hover {
  background: #100c0c;
  box-sizing: border-box;
}

@keyframes fadedVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/*-------------------------------SECTION PROJETS-------------------------*/
#projets {
  display: flex;
  flex-wrap: wrap;
  
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  font-size: 1em; 
  text-align: center;
   font-size: 1.2em;
   margin-top: 50px;
   margin-bottom: 50px;
   justify-content: space-between;
   width: 90%;
   height: 1025px;
}
.listeprojets {
  width: 100%;
  height: 75px;
  margin: 10px;
  flex-grow: 1;
    transition: flex-grow 0.4s ease-out;
    position: relative;
    overflow: hidden;
   border-radius: 30px;
  background: #100c0c;
  box-shadow: inset 0px 0px 0px 6px white;
   border: 6px solid #bc040c;
   color: white;
    opacity: 0.9;
   
    text-shadow: -0.5px 0 0.5px white, 0 0.5px 0.5px white, 0.5px 0 0.5px white, 0 -0.5px 10px white;
}
.active {
    flex-grow: 10000;
}
.listeprojets * {
  pointer-events: none;
}
.listeprojetstop {
  height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
}
.listeprojetstop h3 {
  font-size: 1.75em;
}
.listeprojetsbottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}




.listeprojetsbottom:nth-child(odd) {
  flex-direction: row-reverse;
}
.listeprojets1, .listeprojets2, .listeprojets3, .listeprojets4 {
  display: flex;
  flex-direction: column;

}

.listeprojets4 {
  width: 35%;
   flex-direction: column;

}
.listeprojets1 {
  width: 25%;
  margin: 0 15px 0 15px;
} 
.listeprojets3, .listeprojets2 {
  width: 20%;
  margin: 0 15px 0 15px;
} 

.listeprojets video {
 margin: auto;
margin-top: 0;
  height: 211px;
  pointer-events: auto!important;
 width: 375px;

}
.listeprojets h3, .listeprojets h4 {
 text-shadow: -1px 0 1px white, 0 1px 1px white, 1px 0 1px white, 0 -1px 10px white;
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
}
.listeprojets a {
 text-shadow: -1px 0 1px white, 0 1px 1px white, 1px 0 1px white, 0 -1px 10px white;
 color: #bc040c;
 pointer-events: auto!important;
}
.listeprojetstop h3 i {
  padding: 0 2px 0 2px;
  font-size: 0.85em;
}
.listeprojets4 img {
  width: 375px;
  height: 211px;
  margin: auto;
  margin-top: 0;
}
.listeprojetstop i {
  font-size: 1.25em;
}
.listeprojetstop p {
  font-size: 1.75em;
}
#thethrill {
  font-family: 'KoHo', sans-serif; 
}
#groupomania {
  font-family: 
}
#sopekocko {
  font-family: 'Mali', cursive; 
}
#burnout {
  font-family: 'Open Sans Condensed', sans-serif;
}
#orinoco {
  font-family: 'Finger Paint', cursive;
}
#jack {
  font-family: 'Electrolize', sans-serif;
}
/*-------------------------------NAV FOOTER-------------------------*/
.to-top {
  position: fixed;
  bottom: 50px;
  right: 10px;
  font-size: 50px;
  color: #100c0c;  
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top.active {
  bottom: 50px;
  pointer-events: auto;
  opacity: 0.8;
}
/*-------------------------------FOOTER-------------------------*/
footer {
  position: relative;

}
#divcontact {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-image: url("img/backfooter.jpg");
  background-size: contain;
   border-top: 3px solid black; 
}
#adresse, #horaires {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  width: 35%;

  
}
#horaires p:nth-child(2), #adresse p:nth-child(2) {
  background-image: url("img/board1.jpg");
  background-size: cover;
  border: 5px solid #100c0c;
  padding: 3px;
  color: #fcfc04;
  font-family: 'Press Start 2P', cursive;
  width: 250px;
  text-align: center;
  font-size: 0.8em;
line-height: 125%;
    
}



#horaires p:nth-child(1), #horaires p:nth-child(3), #adresse p:nth-child(1), #adresse p:nth-child(3) {
  font-size: 2em;

}
#horaires p, #adresse p {
  margin: 0;
  font-size: 0.75em;
  max-height: 50px;
}
#horaires span, #adresse span {
    animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;
      
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    text-shadow: 0px 0px 15px #fcfc04;
    opacity: 0.8;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    opacity: 0.95;
  }
}


/*-----------------------------DEFILEMENT FOOTER---------------------------------*/

#defilfooter h1 {
  margin: auto; 
  padding: 12px;
  color: #fcfc04;
  font-family: 'Press Start 2P', cursive;
    opacity: 0.75;
    font-size: 20px;
    vertical-align: middle;
    text-shadow: 0px 0px 15px #fcfc04;
    text-transform: uppercase;
}
#defilfooter {
  width: 25%;
  margin: auto;
  height: 40px;
  overflow: hidden;  /* masque tout ce qui dépasse */
  box-shadow: /*5px 5px 2px 1px rgba(0, 0, 0, .5),*/ inset 0 0 1em .25em black;
  background-image: url("img/board1.jpg");
  background-size: cover;
  border: 10px solid #100c0c;
}
/* le bloc défilant Le bloc défilant doit être un modèle de boîte en ligne n'autorisant 
pas le renvoi à la ligne et être placé à droite du conteneur.
L'animation proprement dite est définie en utilisant la propriété animation.*/
#defilfooter > :first-child {
  display: inline-block;             /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defil 7s infinite linear;
  animation-timing-function: cubic-bezier(0.15, 0.4, 0.5, 0.25);

}
@keyframes defil {
  0% {
    transform: translate3d(20px,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

/*-----------------------------FOOTER FIGURE---------------------------------*/
#divfooter {
  position: absolute;
  width: 100%;
  top: 160px; 
  font-size: 4.5em;
  display: flex;
  justify-content: space-between;
}
#divfooterleft, #divfooterright {
  display: flex;
  justify-content: space-between; 
  width: 23%;
}
#divfooterleft {
  margin-left: 8.2%;
  
}
#divfooterright {
  margin-right: 8.3%;
}
#divfooter i {
  
    padding:0 1px 0 2px; 
    text-shadow: -2.5px 0 #000, 0 2.5px #000, 2.5px 0 #000, 0 -2.5px #000; 
    /*text-shadow: 5px 1px 10px rgba(0, 0, 0, .8);
     /*animation: jump 2s infinite linear; */   
    }
    @keyframes jump {
      0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transform: translateX(0);}
      25%  { 
        transform: translateY(-2px);}
        50% { 
          transform: translateX(2px);}
        75% {
          transform: translateY(-2px);}
        
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
        transform: translateX(5px);}        
  }

#github {
  color: black;
}
#linkedin {
  color: #0e76a8;
}
#twitter {
  color: #1DA1F2;
}
#slack {
  color: #3F0F3F;
}




footer figure { 
  position: relative; 
  width: 100%;
  margin: 0;  
   border-top: 3px solid black;
}

footer figure img {  
  margin: 0;
  width: 100%;
  padding: 0px 0 0 0; 
  position: absolute;
  overflow: hidden;
    background: url("img/seatsbackokok.jpg");
    background-size: cover;
    animation: compta_animation 20s linear infinite;
}

@keyframes compta_animation {
  0%  {background-position: -2122px 0;} 
  100%  {background-position: 0 0;}
  
}
