@font-face {
    font-family: 'MrRobot';
    src : url('MrRobot.eot') format('eot'),
          url('MrRobot.woff') format('woff'),
          url('MrRobot.ttf') format('ttf'),
          url('MrRobot.svg') format('svg');
}
@font-face {
    font-family: 'PressStart';
    src : url('PressStart.eot') format('eot'),
          url('PressStart.woff') format('woff'),
          url('PressStart.ttf') format('ttf'),
          url('PressStart.svg') format('svg');
}
@font-face {
    font-family: 'P22 Pop Art Comic Bold Italic';
    src : url('P22 Pop Art Comic Bold Italic.eot') format('eot'),
          url('P22 Pop Art Comic Bold Italic.woff') format('woff'),
          url('P22 Pop Art Comic Bold Italic.ttf') format('ttf'),
          url('P22 Pop Art Comic Bold Italic.svg') format('svg');
}




body {
  margin: 0;
  padding: 0; 
  font-family: Helvetica, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
header {  
  display: flex;
  flex-direction: column; 
  background: linear-gradient(180deg, transparent 15%, white 100%),
    url("img/cover2.jpg");  
    background-size: cover; 
}
#logo { 
  
  display: flex;    
  margin: auto;
}
#back {
  width: 71%;
  margin: auto; 
  display: flex;
  margin-top: 133px; 
  /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);*/
}

/*-----------------------------NAVBAR---------------------------------*/

nav, #navleft, .navcenter, #navright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav {
  margin-top: 45px;
  margin-bottom: 50px;  
}
nav i {
  color: white;
  font-size: 60px;
  margin: auto;
  margin: 10px;
}

#navleft, #navright {
  width: auto;
  height: 100px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-image: url("img/nav1.jpg");
  background-size: contain;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .3);
}

.circles {
    border-radius: 50%;
    width: 60px;
    height: 60px;  
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0 10px;
}

.circles i {
  font-size: 1.2em;
  text-align: center;
  margin: 5px 10px 0 10px;
  
}
.circles span {
  position: absolute;
  top: 1px;
  left: 12px;
  font-size: 3.1em;
  color: white;
  font-weight: bolder;
}
#position1 {
  top: 0px;
  left: 12px;
}
#position3 {
  top: 0px;
  left: 10px;
}
#position5 {
  
  left: 10px;
}
#position6 {
  
  left: 10px;
}
#position7 {
  top: 0px;
  left: 13px;
}
#spanwho span {
  top: -5px;
  left: 10px;
  font-size: 2.85em;
  margin-top: 2px;  

}
.circles:hover, .circles:focus {
  transform: scale(1.2);
}

a strong {
  position: absolute;
  margin-top: 70px;
    margin-left: -60px;
     color: white;
     background: #100c0c;
     padding: 5px;
     text-align: center;
     width: 145px;
     font-size: 1.1em;
     background-image: url("img/nav1.jpg");
     background-size: cover;
    /* transform: scale(0) rotate(60deg);*/
     transition: all .5s;
     opacity:0;
     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .5);
     transform: translate(5%, -10px);
}

a:hover strong, a:focus strong {
  transform: translate(5%, 0px);
   opacity:1;  
}

.circles:nth-child(1) {
  background-color: #fcfc04;
}
.circles:nth-child(2) {
  background-color: #2cbcc4;
}
.circles:nth-child(3) {
  background-color: #bc040c;
}
.circles:nth-child(4) {
  background-color: #b4b4b4;
}
.circles:nth-child(5) {
  background-color: #046cc4;
}
.circles:nth-child(6) {
  background-color: #d4d4d4;
}
#spanwho {
background-color: #0039A6;
  border-radius: 10%;
  border: 2px solid white;
}
.navcenter {
  width: auto;
  margin: auto;
  justify-content: space-around;
  margin-top: 58px;
  background: #100c0c;
}
  
.navcenter a {
  font-size: 40px;
  background: #bc040c;
  color: white;
  font-weight: bolder;
  margin: auto;
  height: 70px;
  display: flex;
  
}
.navcenter span {
  padding: 5px;
  margin: auto;
  
}
.fa-arrow-up {
  margin: 0;
  padding: 5px;
}
#rotate {
  transform: rotate(315deg)
}

/*-----------------------------DEFILEMENT---------------------------------*/

h1 {
  margin: auto; 
  padding: 12px;
  color: #fcfc04;
  font-family: 'Press Start 2P', cursive;
    opacity: 0.85;
    font-size: 26px;
    vertical-align: middle;
    text-shadow: 0px 0px 15px #fcfc04;
}
.defilement {
  display: flex; 
  flex-direction: row;
  position: sticky;

}
.defilement i {
  margin-top: 50px;
  font-size: 6em;
  margin-left: -2px;
  margin-right: -2px;
  text-shadow: 1px 10px 4px rgba(0, 0, 0, .5);

}
/* le block conteneur */
.marquee {
  width: 40%;      /* largeur de la fenêtre */ 
  margin-top: 60px;
  height: 52px;  
  overflow: hidden;  /* masque tout ce qui dépasse */
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .5), inset 0 0 1em .25em black;
  background-image: url("img/board1.jpg");
  background-size: cover;
  border: 15px solid #100c0c;
}
/* le bloc défilant Le bloc défilant doit être un modèle de boîte en ligne n'autorisant 
pas le renvoi à la ligne et être placé à droite du conteneur.
L'animation proprement dite est définie en utilisant la propriété animation.*/
.marquee > :first-child {
  display: inline-block;             /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement 12s infinite linear;
  animation-timing-function: cubic-bezier(0.25, 0.5, 0.8, 0.5);
}
@keyframes defilement {
  0% {
    transform: translate3d(20px,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}



/*-------------------------------------SECTION BIO-----------------------------------*/

section {	
	margin-top: 50px;
	display: flex;
	flex-direction: column;	

}
#section1, #section2, #section3, #section4 {
	display: flex;	
	flex-direction: row;
	justify-content: space-around;
	height: 500px;
	
	
	

}

figure {	
	position: relative;
	width: 45%;	
	
	
}
figcaption {
	font-family: 'P22 Pop Art Comic Bold Italic', cursive;
  text-transform: uppercase;
	font-size: 1.2em;	
	font-style: italic;
	background: white;
	padding: 5px 15px 5px 10px;  
	display: block;
	float: left;
	position: absolute;
	top: 10px;
	left: 10px;
	border: 2px solid black;
  	border-width: 2px 2px 2px 3px;
  	border-radius: 97% 1% 97% 1%/1% 97% 1% 97%;  	
}

figure i {	
	position: absolute;	
	display: block;	
	top: 300px;
	left: 60px;
	font-size: 2.5em;
	color: #DE3A17;
	text-shadow: 1px 4px 0px black;	
	
}
figure img {	
	margin: 0;
	width: 100%;
	padding: 0px 0 0 0;	
	position: absolute;
	overflow: hidden;
	border: 2px solid black;
  	border-width: 4px 5px 4px 6px;
  	border-radius:99% 1% 99% 1%/1% 99% 1% 99%;
  	background: url("img/backoyster3.jpg"); /*jpg*/    
  	animation: clouds_animation 25s infinite ease-in-out;
}

@keyframes clouds_animation {
  
  0%  {background-position: 0 60%;}
  
  20%  {background-position: 0 45%;}
  
  40%  {background-position: 0 60%;}
 
  60%  {background-position: 0 35%;}
 
  80%  {background-position: 0 60%;}
 
  100%  {background-position: 0 40%;} 

}

#balle {
	color: white;
	position: absolute;	
	top: 100px;
	left: 420px;
	font-size: 1.2em;
	animation: bounce 0.5s infinite linear;
	text-shadow: 1px 1px 0px black;
	
    }
    @keyframes bounce {
    	0% {
    	-webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    transform: translateX(0);
  	}
   		25%  { 
   			transform: translateY(-5px);
   		}
        50% { 
        	transform: translateX(-5px);
        }
        75% {
        	transform: translateY(5px);
        }
        
  		100% {
		  	-webkit-transform: rotate(360deg);
		    transform: rotate(360deg); 
		    transform: translateX(5px);
		}        
  }
#compta img {  
  margin: 0;
  width: 100%;
  padding: 0px 0 0 0; 
  position: absolute;
  overflow: hidden;
  border: 2px solid black;
    border-width: 4px 5px 4px 6px;
    border-radius:99% 1% 99% 1%/1% 99% 1% 99%;
    background: url("img/comptaback.jpg");
    background-size: cover;
    animation: compta_animation 75s linear infinite;
}

@keyframes compta_animation {
  
  0%  {background-position: 0 0;}
  100%  {background-position: -2122px 0;} 

}

/*-------------------------------------SECTION SKILLS-----------------------------------*/
     

.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
 
  margin: auto;
  margin-top: 50px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 20px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 3s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #bc040c;
  animation: animate 3s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.sens span{
  width: 90%;
}
.bar .progress-line.relationnel span{
  width: 60%;
}
.bar .progress-line.adapt span{
  width: 85%;
}
.bar .progress-line.curio span{
  width: 50%;
}
.bar .progress-line.crea span{
  width: 75%;
}
.bar .progress-line.force span{
  width: 75%;
}
.bar .progress-line.veille span{
  width: 75%;
}
.bar .progress-line.esprit span{
  width: 85%;
}
.bar .progress-line.depass span{
  width: 125%;
}
.bar .progress-line.respect span{
  width: 150%;
}
.bar .progress-line.humour span{
  width: 22%;
}
/*.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color:  #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}*/
.progress-line span::after{
  position: absolute;
  top: -45px;
  right: 0;
  font-weight: 500;
  /*background: #000;*/
  color: #fff;
  padding: 1px 8px;
  font-size: 30px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.sens span::after{
  content: "👍";
}
.progress-line.relationnel span::after{
  content: "🤗";
}
.progress-line.adapt span::after{
  content: "🔌";
}
.progress-line.curio span::after{
  content: "👁️";
}
.progress-line.crea span::after{
  content: "🧠";
}
.progress-line.force span::after{
  content: "💪";
}
.progress-line.veille span::after{
  content: "💡";
}
.progress-line.esprit span::after{
  content: "🎯";
}
.progress-line.depass span::after{
  content: "🙄";
}
.progress-line.respect span::after{
  content: "🤔";
}
.progress-line.humour span::after{
  content: "😒";
}

/*-------------------------------------SECTION MINDMAP-----------------------------------*/
#sectionmind {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  
}
h2 {
	text-align: center;
}

#niveau1, #niveau2, #niveau3 {
  display: flex;
  justify-content: space-around; 
  width: 100%; 
  flex-direction: column; 
}
#niveau1 {

}
#niveau3 {
 
}
#brain  {
  width: 700px;
  height: 700px;
  background-size: contain;
  background-image: url("img/brain2.jpg");
  position: relative;
   
}
#brain:hover {
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  background-image: url("img/brain3.jpg");
  background-size: cover;
   
}
#niveau2 {
  
}
#brain p {
 font-size: 2em;
  color: #bc040c;
  position: absolute;
  top: 150px;
  left: 200px;
  text-align: center;
}
#brain i {
 font-size: 3em;  
}
#brain p:hover, #brain i:hover {
  opacity: 0;
}

/*.associations { 
  height: 200px;
  margin-top: 50px;
  margin: auto;
}
.associations ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  

 }
.associations li {
	float: left;
	margin: auto;
	padding: 0;
		
	border-radius: 50% 20% / 10% 40%;
	font-size: 1.5em;
 }
.associations li a {
  display: block;
  width: 100px;
  color: black;
  text-decoration: none;
  padding: 5px;
  pointer-events: none;  

 }
 .associations li a:hover {
 color: #FFD700;
 }
 .associations ul li ul {
  display: none;
  border-radius: 50% 20% / 10% 40%;

 }
 .associations ul li:hover ul {
  display: block;
 }
 .associations li:hover ul li {
  float: none;
 }
 .associations li ul {
  position: absolute;
 }*/





.menu-button {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  margin: auto;
  width: 125px;
  height: 125px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;

}
.menu-button:hover {
  background: white;
  color: black;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);

}

.menu-button a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  width: 0px;
  height: 0px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 18px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.menu-button a:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);

}
.menu-button a:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #3cd4fc;
}
.menu-button a:nth-child(3) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #fc046c;
}
.menu-button a:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #fcf404;
}
.menu-button:hover a {
  opacity: 1;
  width: 100px;
  height: 100px;
}
.menu-button:hover a:nth-child(2) {
  right: 120px;
  bottom: -60px;
}
.menu-button:hover a:nth-child(2):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;

}
.menu-button:hover a:nth-child(3) {
  right: 0px;
  bottom: -120px;
}
.menu-button:hover a:nth-child(3):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
 
}
.menu-button:hover a:nth-child(4) {
  right: -120px;
  bottom: -60px;
}
.menu-button:hover a:nth-child(4):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
 
}

/*-------------------------------NAV FOOTER-------------------------*/
.to-top {
  position: fixed;
  bottom: 50px;
  right: 10px;
  font-size: 50px;
  color: #100c0c;  
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top.active {
  bottom: 50px;
  pointer-events: auto;
  opacity: 0.8;
}
/*-------------------------------FOOTER-------------------------*/
footer {
  position: relative;

}
#divcontact {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-image: url("img/backfooter.jpg");
  background-size: contain;
   border-top: 3px solid black; 
}
#adresse, #horaires {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  width: 35%;

  
}
#horaires p:nth-child(2), #adresse p:nth-child(2) {
  background-image: url("img/board1.jpg");
  background-size: cover;
  border: 5px solid #100c0c;
  padding: 3px;
  color: #fcfc04;
  font-family: 'Press Start 2P', cursive;
  width: 250px;
  text-align: center;
  font-size: 0.8em;
line-height: 125%;
    
}



#horaires p:nth-child(1), #horaires p:nth-child(3), #adresse p:nth-child(1), #adresse p:nth-child(3) {
  font-size: 2em;

}
#horaires p, #adresse p {
  margin: 0;
  font-size: 0.75em;
  max-height: 50px;
}
#horaires span, #adresse span {
    animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;
      
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    text-shadow: 0px 0px 15px #fcfc04;
    opacity: 0.8;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    opacity: 0.95;
  }
}


/*-----------------------------DEFILEMENT FOOTER---------------------------------*/

#defilfooter h1 {
  margin: auto; 
  padding: 12px;
  color: #fcfc04;
  font-family: 'Press Start 2P', cursive;
    opacity: 0.75;
    font-size: 20px;
    vertical-align: middle;
    text-shadow: 0px 0px 15px #fcfc04;
    text-transform: uppercase;
}
#defilfooter {
  width: 25%;
  margin: auto;
  height: 40px;
  overflow: hidden;  /* masque tout ce qui dépasse */
  box-shadow: /*5px 5px 2px 1px rgba(0, 0, 0, .5),*/ inset 0 0 1em .25em black;
  background-image: url("img/board1.jpg");
  background-size: cover;
  border: 10px solid #100c0c;
}
/* le bloc défilant Le bloc défilant doit être un modèle de boîte en ligne n'autorisant 
pas le renvoi à la ligne et être placé à droite du conteneur.
L'animation proprement dite est définie en utilisant la propriété animation.*/
#defilfooter > :first-child {
  display: inline-block;             /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defil 7s infinite linear;
  animation-timing-function: cubic-bezier(0.15, 0.4, 0.5, 0.25);

}
@keyframes defil {
  0% {
    transform: translate3d(20px,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

/*-----------------------------FOOTER FIGURE---------------------------------*/
#divfooter {
  position: absolute;
  width: 100%;
  top: 160px; 
  font-size: 4.5em;
  display: flex;
  justify-content: space-between;
}
#divfooterleft, #divfooterright {
  display: flex;
  justify-content: space-between; 
  width: 23%;
}
#divfooterleft {
  margin-left: 8.2%;
  
}
#divfooterright {
  margin-right: 8.3%;
}
#divfooter i {
  
    padding:0 1px 0 2px; 
    text-shadow: -2.5px 0 #000, 0 2.5px #000, 2.5px 0 #000, 0 -2.5px #000; 
    /*text-shadow: 5px 1px 10px rgba(0, 0, 0, .8);
     /*animation: jump 2s infinite linear; */   
    }
    @keyframes jump {
      0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transform: translateX(0);}
      25%  { 
        transform: translateY(-2px);}
        50% { 
          transform: translateX(2px);}
        75% {
          transform: translateY(-2px);}
        
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
        transform: translateX(5px);}        
  }

#github {
  color: black;
}
#linkedin {
  color: #0e76a8;
}
#twitter {
  color: #1DA1F2;
}
#slack {
  color: #3F0F3F;
}




footer figure { 
  position: relative; 
  width: 100%;
  margin: 0;  
   border-top: 3px solid black;
}

footer figure img {  
  margin: 0;
  width: 100%;
  padding: 0px 0 0 0; 
  position: absolute;
  overflow: hidden;
    background: url("img/seatsbackokok.jpg");
    background-size: cover;
    animation: compta_animation 20s linear infinite;
}

@keyframes compta_animation {
  0%  {background-position: -2122px 0;} 
  100%  {background-position: 0 0;}
  
}